<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.lanyayx.mapper.HtuserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruoyi.lanyayx.domain.Htuser">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="telphone" property="telphone" />
        <result column="address" property="address" />
        <result column="money" property="money" />
        <result column="box" property="box" />
        <result column="wuliudh" property="wuliudh" />
        <result column="suggestion" property="suggestion" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, telphone, address, money, box, wuliudh, suggestion, create_time, update_time, create_by, update_by, remark
    </sql>

</mapper>